<!DOCTYPE html>
<html>
<div class="container">
<head>
  <b><title>Editing articles</title></b>

<%= render 'form' %>

<%= link_to 'Show', @article ,class: 'btn btn-primary'%> 
<%= link_to 'Back', articles_path,class: 'btn btn-warning' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</div>
</html>