<div class="container">
<p>
  <strong>Title:</strong>
  <div class="card">
        	<h5 class="card-title"><%= @article.title %></h5>
  </div>
</p>
 
<p>
  <strong>Text:</strong>
   <div class="card">
   	<h7 class="card-title"><%= @article.body %></h7>
  </div>
  
</p>
 
<h2>Comments</h2>
<%= render @article.comments %>
 
<h2>Add a comment:</h2>
<%= render 'comments/form' %>

 
<%= link_to 'Edit', edit_article_path(@article),class: 'btn btn-primary' %> 
<%= link_to 'Back', articles_path,class: 'btn btn-warning' %>
</div>